<nav class="navbar navbar-light navbar navbar-expand-lg buttonsMenu">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/add">Add Client<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/remove">Remove Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/filter">Filter Clients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sort">Sort Clients</a>
          </li>
        
    </div>
  </nav>