<%- include("components/header") -%> <%- include("components/navbar") -%>

<h1>Choose a option to sort client list</h1>
<br />
<form action="/sort/ascending" method="POST">
  <button class="btn btn-primary" type="sumbit" name="ascending">
    Ascending
  </button>
</form>
<br />
<form action="/sort/descending" method="POST">
  <button class="btn btn-primary" type="sumbit" name="descending">
    Descending
  </button>
</form>
<br />
<%- include("components/footer") -%>
